@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@layer components {
  .no-scroll::-webkit-scrollbar {
    display: none;
  }
}
