@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  main {
    margin-top: 40px;
  }
}

@layer components {
  .no-scroll::-webkit-scrollbar {
    display: none;
  }
  .admin-h2 {
    @apply text-lg font-bold;
  }
}
